
/********* - Experiences Product list *********/
.dvExperience .dvSearch{position:relative;margin:0 auto}
.dvExperience .dvSearch button{position:absolute;transform:translate(0, -100%); right: 0; background: var(--primary-colour);padding:8px 15px;}
 
.dvCardBox {background-color:var(--bg-section);}
/*.dvleftBox:hover{box-shadow: 0 .5rem 1rem rgba(0,0,0,.15) !important; transition: 0.3s;}*/
.dvRecent h2 i {color:var(--primary-colour);}
.boltIcon i {color:var(--primary-colour);float:right}
.dvExperienceBox:hover{box-shadow: 0 .5rem 1rem rgba(0,0,0,.15) !important; transition: 0.3s;}
.dvExperienceBox .card_detail h2{color:var(--primary-colour);}
.cardPoints p span {color:var(--primary-colour);}
.shadow-on-hover .img-container {padding-bottom: 55%;}
.shadow-on-hover:hover .card_detail h2{text-decoration:underline;}
.dvCardBox .no-gutters {margin:0 -.5rem}
.dvCardBox .no-gutters [class*="col-"] {padding:0 .5rem}

/********* - Experiences Product Details *********/
.scroll-ver {
  overflow-x: hidden;
  overflow-y: scroll;
  height: 100vh;
}
/* width */
.dvProductDetails ::-webkit-scrollbar {
    width: 3px;
}
/* Track */
.dvProductDetails ::-webkit-scrollbar-track { background: #f1f1f1;}
/* Handle */
.dvProductDetails ::-webkit-scrollbar-thumb { background: #888;}
 /* Handle on hover */
 .voucherName p {color:#999999;}
.dvProductDetails ::-webkit-scrollbar-thumb:hover {background: #555;}
/* .pointsBox p {color:var(--primary-colour);font-size: 0.875rem;} */
.dvPricingBox table thead {background: #fafafa;}
.dvPricingBox table thead tr th, .dvPricingBox table tbody tr td {color: #4A4A4A;padding: 10px 5px;width:20%;font-size:13px;text-align:right}
.dvPricingBox table .not-available { color: #999999;}
.rateCont h2 {background-color:var(--secondary-colour) !important}
.dvBgcolor2 .heading-xs-bold {padding:11px 15px} 
.dvBtnBg {padding:10px 15px}
.dvBgcolor{background: #fafafa;}
.dvRateBox .dvBgcolor{background: #fafafa;}
.dvRateBox .dvBgcolor2{background: #fafafa;}

.shadow-on-hover:hover .dvBtn .btn-primary { background-color: var(--secondary-colour) !important;border-color: var(--secondary-colour);transition: 0.3s;}
.shadow-on-hover:hover .dvBgcolor2 {background-color: var(--primary-colour) !important;transition: 0.3s; }
.shadow-on-hover:hover .dvBgcolor2 h2, .shadow-on-hover:hover .dvBgcolor2 h2 span {color:#fff;}
.shadow-on-hover:hover .dvBtnBg {background: #fafafa;transition: 0.3s;}
.shadow-on-hover:hover .voucherName p {color:var(--secondary-colour);transition: 0.3s;}

.dvImg img {width:160px;height:120px}
.dvHighligts ul {margin-left:15px}
.dvCollapse .card-body {padding:0px;}
.dvCollapse .card {border:unset;}

.dvReadMore ul {height: 12px;overflow: hidden;margin-left:0px}
/* .dvReadMore ul li {font-size: 0.875rem; } */
.dvReadMore ul.active {height: auto;}
.dvReadMore .toggle_btn.active .fas {transform: rotate(180deg);transition: 0.3s; }
.dvReadMore .toggle_btn{cursor:pointer;}
.dvReadMore .toggle_btn span {cursor:pointer;color:var(--primary-colour);transition: 0.3s;font-size: 0.875rem; }

.dvReadMore2 ul {height: 65px;overflow: hidden;margin-left:0px}
/* .dvReadMore2 ul li {font-size: 0.875rem; } */
.dvReadMore2 ul.active {height: auto;}
.dvDescription .dvReadMore2 .toggle_btn2{cursor:pointer;}
.dvDescription .dvReadMore2 .toggle_btn2.active .fas {transform: rotate(180deg);transition: 0.3s; }
.dvDescription .dvReadMore2 .toggle_btn2 span {cursor:pointer;color:var(--primary-colour);transition: 0.3s;font-size: 0.875rem; }
.dvDescription .img-container {padding-bottom: 33%;}
.dvThumbSwiperSlider .img-container {padding-bottom:40%;}

/********* - Experiences Payment Details *********/ 
.dvPaymentList-steps { position: relative; width: 100%; height: 6rem;margin: 8% auto;}
.dvPaymentList-steps .step-line { content: ""; display: block; width: 90%; height: 1px; background: #e5e5e5; position: absolute; top: 58%; left: 0; display: none; }
.dvPaymentList-steps .steps { position: absolute;top: 1rem; left: 0;width: 100%;}
.dvPaymentList-steps .steps .payment-step {width: 33%;float: left;text-align: center;}
.dvPaymentList-steps .steps .payment-step:first-child { text-align: left; width: 32%;}
.dvPaymentList-steps .steps .payment-step .step { background: #fff; padding-right: 1rem; font-weight: bold;font-size: 10px;}
.dvPaymentList-steps .steps .payment-step .step .step-circle {width: 30px;height: 30px; line-height: 23px;text-align: center; padding: 0.4rem 0.9rem; color: #fff; margin-bottom: 0.5rem; display: inline-block; font-size: 16px; }
.dvPaymentList-steps .steps .payment-step .step { background: #fff; padding-right: 1rem; font-weight: bold; font-size: 10px; }
.dvPaymentList-steps .steps .payment-step .step .step-circle.future { background: #f7f7f7;}

.dvPaymentBox{background-color:var(--bg-section);}
.dvBookingDetails {background-color:var(--primary-colour); padding:12px;}
.dvBookingDetails p {color:#fff;}
.dvSelectDate .heading-sm-bold {color:var(--primary-colour)}
.dvCreditCard .img-container img{width: 125px !important; height: auto;}
.dvCreditCard .img-container{padding-bottom: 10%;}

/********* - Experiences Thank You *********/ 
.dvCongrat .heading-md-bold {color:var(--primary-colour)}



/*[[[ MEDIA QUERIES ]]]*/
/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
    .dvPaymentList-steps { width: 66%;}
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
   .dvExperience .dvSearch{width:50%;}
   .dvPaymentList-steps .step-line { display: block;}
   .dvPaymentList-steps { margin: 2% auto 2%; width: 100%;  height: 4rem;}
   .dvPaymentList-steps .step-line { display: block; }
   .dvPaymentList-steps .steps {top: 30%;}
   .dvPaymentList-steps .steps .payment-step:first-child { text-align: left;width: 32%;}
   .dvPaymentList-steps .steps .payment-step:last-child { text-align: right;width: 32%;}
   .dvPaymentList-steps .steps .payment-step .step {font-size: 12px;padding-left: 1rem;}
   .dvPaymentList-steps .steps .payment-step .step .step-circle.active { background: var(--primary-colour);color: #fff;}
    .dvPaymentList-steps .steps .payment-step .step .stepText.active { color: var(--primary-colour);}
   .dvPaymentList-steps .steps .payment-step .step .step-circle {font-weight:bold; padding: 0.2rem 0.5rem; color: #000; margin-bottom: 0.5rem; display: inline-block; font-size: 14px; margin-right: 0.5rem; }
   .dvPaymentList-steps .steps .payment-step .step { font-size: 14px; padding-left: 1rem; font-weight:bold}
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
.dvPaymentList-steps { margin: 2% auto 2%; width:80%;  height: 4rem;}
.dvCreditCard .img-container{padding-bottom: 5%;}
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

} 
