/*=========[ BLACK STRIPE ON HEADER ]=========*/
.dvBlackStripe {
  background-color: var(--secondary-colour);
  padding: 0.5rem;
}
/*=========[ BLACK STRIPE ON HEADER ]=========*/

/*=========[ HEADER ON HOMEPAGE ]=========*/
.dvHeader .navbar-nav .nav-item.active a {
  color: var(--primary-colour);
  border-top: 1px solid var(--primary-colour);
}
.dvHeader .navbar-nav .nav-item a {
  background-color: #fff;
  color: var(--secondary-colour);
  padding-left: 1rem;
  padding-right: 1rem;
}
.dvHeader .navbar-nav .nav-item a:hover {
  color: var(--primary-colour);
}
.dvHeader .navbar-nav .nav-item.dropdown .dropdown-menu a:hover {
  background-color: var(--primary-colour);
  color: #fff;
}
.dvHeader .logo img {
  width: 200px;
}
/*=========[ HEADER ON HOMEPAGE ]=========*/

/*=========[ WELCOME ON HOMEPAGE ]=========*/
.dvWelcome .scroll-hoz {
  margin: 0;
}
/*=========[ WELCOME ON HOMEPAGE ]=========*/

/*=========[ REDEMPTIONMENU ON HOMEPAGE ]=========*/
.dvRedemptionMenu a {
  background-color: var(--primary-colour);
  border-radius: 50%;
  width: 100px;
  height: 100px;
}
/*=========[ REDEMPTIONMENU ON HOMEPAGE ]=========*/

/*=========[ VOUCHERS ON HOMEPAGE ]=========*/
.dvVouchers {
  background-color: var(--bg-section);
}
/*=========[ VOUCHERS ON HOMEPAGE ]=========*/

/*=========[ TRAVEL ON HOMEPAGE ]=========*/
.dvTravel {
  background-color: var(--bg-section);
}
.dvTravel .img-container {
  padding-bottom: 60%;
}
/*=========[ TRAVEL ON HOMEPAGE ]=========*/

/*=========[ EARN ON HOMEPAGE ]=========*/
.dvEarn .bg {
  background: url("/images/homepage/earn/bg-image.svg") no-repeat top center;
  background-size: cover;
  padding: 3rem 1rem;
}
.dvEarn .bg p {
  color: var(--secondary-colour);
}
.dvEarn .bg-icon {
  background-color: var(--bg-section);
}
.dvEarn .bg-icon img {
  max-width: 100%;
  height: 70px;
}
.dvEarn .heading-md-bold {
  color: var(--primary-colour);
}
/*=========[ EARN ON HOMEPAGE ]=========*/

/*=========[ FOOTER ON HOMEPAGE ]=========*/
.dvFooter {
  background-color: var(--secondary-colour);
}
.dvFooter .dvLinks a {
  color: var(--primary-colour);
}
.dvFooter .dvLinks a::after {
  content: "|";
  padding: 0 0.25rem 0 0.5rem;
}
.dvFooter .dvLinks a:last-child::after {
  content: "";
  padding: 0 0.25rem 0 0.5rem;
}
.dvFooter .footer-logo {
  width: 150px;
}
.dvFooter .border-thin {
  border-top: 1px solid #303030;
}
/*=========[ FOOTER ON HOMEPAGE ]=========*/

/*=========[ MEDIA QUERIES ]=========*/
@media (min-width: 576px) {
}

@media (min-width: 768px) {
  .dvEarn .bg {
    min-height: 400px;
  }
  .dvEarn .mn-top {
    margin-top: -13rem;
  }
}

@media (min-width: 992px) {
  .dvEarn .mn-top {
    margin-top: -9rem;
  }

  .dvHeader .navbar-nav .nav-item a.border-bottom {
    border-bottom: none !important;
  }
}

@media (min-width: 1200px) {
  .dvEarn .mn-top {
    margin-top: -12rem;
  }
}
/*=========[ MEDIA QUERIES ]=========*/
