.dvAccDesign .bg-acc {
  background: url("../images/homepage/earn/bg-image.svg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 65vh;
}

.dvAccMenu {
  border-bottom: 1px solid var(--bg-section);
}

.dvAccMenu .nav-link {
  color: var(--secondary-colour);
  padding: 0;
}

.dvAccMenu .active {
  color: var(--primary-colour);
}

/* STATEMENT SUMMARY */
.dvStatementSummary .bg-lightgray {
  background-color: var(--bg-section);
}
.dvStatementSummary .rounded {
  border-radius: 0.75rem 0.75rem 0 0 !important;
}
.dvStatementSummary .dvBalance .bg-primary {
  background-color: var(--primary-colour) !important;
}
.dvStatementSummary .dvBalance .bg-primary .heading-sm-medium {
  color: #fff;
}
/* STATEMENT SUMMARY */

/* TRANSACTION SUMMARY */

.dvTransaction .bg-lightgrey {
  background: var(--bg-section);
}

.dvTransaction input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  width: 15px;
  height: 15px;
  padding: 3px;
  background-clip: content-box;
  border: 1px solid #bbbbbb;
  background-color: #e7e6e7;
  border-radius: 50%;
  outline: none;
}

.dvTransaction input[type="radio"]:checked {
  background-color: #213c69;
  border: 1px solid #000;
  outline: none;
}

.dvTransaction .prim-col {
  color: var(--primary-colour);
}

.dvTransaction .dvCustom {
  display: none;
}

.dvTransaction .sum-box {
  background: #fff;
  padding: 20px;
  margin-bottom: 10px;
}

/* TRANSACTION SUMMARY */

/* POINTS EXPIRY */

.dvExpiry .bg-lightgrey {
  background: var(--bg-section);
}

.dvExpiry .bg-primary {
  background: var(--primary-colour) !important;
}

/* .dvExpiry .exp-body {
  background: #fff;
  border: 1px solid #e2e2e2;
} */

/* POINTS EXPIRY */
